 <!-- rosbag_play_radar_NWU.launch -->

<!-- This launch file loads rosbags and makes an octomap file -->

<!-- 只有一帧消息，使用 launch 文件播放，无法订阅到消息 -->
<!-- 正确做法：启动 4D RadarSlam 后，使用命令行播放 -->

<launch>

<!-- <param name="/use_sim_time" value="true"/> -->

<!-- paths to the rosbag files -->
<arg name="path" default="/home/dearmoon/datasets/one_msg/"/>

<arg name = "file_0" default = "radar_lidar_output_0.bag"/>
<arg name = "file_1" default = "radar_lidar_output_5.bag"/>

<!-- Plays the dataset. WARNING: changing 'rate' will cause interactions with the demo.  -->
<!-- /radar_pcl /radar_trk /ars548_process/detection_point_cloud -->
<!-- /livox/imu-->
<node pkg="rosbag" type="play" name="player"
    args = "--clock
    $(arg path)$(arg file_0)
    --topic /radar_merged /livox/imu
    ">
</node>

</launch>