 <!-- rosbag_play_radar_NWU.launch -->

<!-- This launch file loads rosbags and makes an octomap file -->

<launch>

<!-- <param name="/use_sim_time" value="true"/> -->

<!-- paths to the rosbag files -->
<arg name="path" default="/home/dearmoon/datasets/NWU/日雪不颠簸高速/enahancing/"/>

<arg name = "file_0" default = "radar_lidar_output_1.bag"/>
<arg name = "file_1" default = "radar_lidar_output_5.bag"/>

<!-- Plays the dataset. WARNING: changing 'rate' will cause interactions with the demo.  -->
<!--  /radar_pcl /radar_trk /ars548_process/detection_point_cloud -->
<!-- /livox/imu-->
<node pkg="rosbag" type="play" name="player"
    args = "-s 0.5 --clock --rate=3 --duration=10000
    $(arg path)$(arg file_1)
    --topic /radar_merged /livox/imu
    ">
</node>

</launch>